.userPhoto{
    width: 100px;
    height: 100px;
}


.over {
    background-color: floralwhite;
    overflow-x: scroll;
    width: 300px;
}

.userText {
    display: flex;
    margin: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.location{
    margin: 25px;
}

.login {
    margin: 10px;

}
.login input {
    padding: 5px;
    margin: 10px;

}

.login button {
    margin: 10px 0px 10px 35px;
    padding: 10px 40px 10px 40px;
}
.login button:hover{
    background-color: cadetblue;
}
.logins{
    margin: 10px 0px 10px 60px;
}

