.userPhoto{
    width: 100px;
    height: 100px;
}

.selectedPage {
   font-weight: bold;
}

.over {
    background-color: floralwhite;
    overflow-x: scroll;
    width: 300px;
}

.userText {
    display: flex;
    margin: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.location{
    margin: 25px;
}